* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body,
html {
  position: relative;
}
body {
  background: #333;
  color: white;
  position: relative;
  overflow-x: hidden;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1421885568509-8d5319e54d89?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
}
.profile-picture {
  background: url("https://images.unsplash.com/photo-1456327102063-fb5054efe647?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  background-position: center center;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: solid 10px #ddd;
  position: absolute;
  top: 55%;
  transform: translateY(-200px);
  z-index: 2;
}
.header-info {
  background: #ddd;
  color: black;
  width: 80vw;
  height: 50vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 50px 200px;
  position: absolute;
  bottom: -25px;
  text-align: left;
}
.header-info .tagline {
  color: rgba(0, 0, 0, 0.6);
}
.header-info a,
footer a {
  color: #a7b150;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}
.header-info a:hover,
footer a:hover {
  color: #bada55;
}
header nav {
  position: fixed;
  top: 0;
  padding: 20px;
  width: 100%;
  z-index: 50;
  background: #333;
  transition: top 200ms linear;
  border-bottom: 3px white outset;
}
header nav a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  transition: all 0.25s ease-in-out;
}
header nav .links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}
nav a:hover {
  color: #a7b150;
}
.ghost-icon {
  position: absolute;
  height: 100px;
  width: 100px;
  stroke: white;
  right: 40px;
  top: 40px;
}

.tagline {
  font-size: 1.2rem;
  font-weight: 200;
  font-style: italic;
  color: rgba(255, 255, 255, 0.8);
}

section {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
section h2 {
  position: absolute;
  left: 120px;
  font-size: 2.5rem;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
section:nth-child(odd) {
  background: rgb(58, 58, 58);
}
#evidence {
  position: relative;
}
#evidence::after {
  content: "";
  height: 100px;
  width: 100%;
  background: #333;
  position: absolute;
  bottom: -50px;
  left: 0;
  border-radius: 50%;
  z-index: 1;
}
#evidence .tagline {
  margin: 20px;
}
.photos {
  width: 60%;
  height: 80vh;
  display: grid;
  grid-template-areas:
    "ghost1 ghost1 ghost2"
    "ghost1 ghost1 ghost3"
    "ghost4 ghost5 ghost5"
    "ghost6 ghost5 ghost5";
  grid-gap: 5px;
  z-index: 2;
}
.ghost1 {
  background: url("https://images.unsplash.com/photo-1489179070830-36477bd83c93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80");
  grid-area: ghost1;
}
.ghost2 {
  background: url("https://images.unsplash.com/photo-1465416532510-98090cdedec7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  grid-area: ghost2;
}
.ghost3 {
  background: url("https://images.unsplash.com/photo-1499532744860-fb7526b66e7b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1114&q=80");
  grid-area: ghost3;
}
.ghost4 {
  background: url("https://images.unsplash.com/photo-1440882616325-43e474ece3d0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80");
  grid-area: ghost4;
}
.ghost5 {
  background: url("https://images.unsplash.com/photo-1490128079522-6ebfd232bb84?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  grid-area: ghost5;
}
.ghost6 {
  background: url("https://images.unsplash.com/photo-1492500318351-274a118407c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  grid-area: ghost6;
}
.ghost-photo {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.ghost-photo p {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  align-items: center;
  transition: all 200ms ease-in-out;
  padding: 40px;
  opacity: 0;
  line-height: 25px;
  user-select: none;
}
.ghost-photo:hover p {
  opacity: 1;
}

#places {
  height: 100vh;
  width: 100%;
  position: relative;
}
#places::after {
  content: "";
  height: 100px;
  width: 100%;
  background: rgb(58, 58, 58);
  position: absolute;
  bottom: -50px;
  left: 0;
  border-radius: 50%;
  z-index: 1;
}
#places h2 {
  position: absolute;
  right: 120px;
  text-align: center;
}
#places .place-cards .card {
  width: 50%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
}
#places .place-cards .card img {
  height: 100%;
  border-radius: 10px;
}
.description {
  width: 50%;
  margin: 0 auto;
}
footer {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  z-index: 50;
}
