* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body,
html {
  position: relative;
}
body {
  background: #333;
  color: white;
  position: relative;
  overflow-x: hidden;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1421885568509-8d5319e54d89?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
}
.profile-picture {
  background: url("https://images.unsplash.com/photo-1456327102063-fb5054efe647?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  background-position: center center;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: solid 10px #ddd;
  position: absolute;
  top: 55%;
  transform: translateY(-200px);
  z-index: 2;
}
.header-info {
  background: #ddd;
  color: black;
  width: 80vw;
  height: 50vh;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  position: absolute;
  bottom: -25px;
  text-align: left;
}
.header-info .tagline {
  color: rgba(0, 0, 0, 0.6);
}
.header-info a,
.twitter {
  background: #a7b150;
  padding: 3px 5px;
  text-decoration: none;
  color: white;
  margin: 0 3px;
  transition: all 0.25s ease-in-out;
  border-radius: 5px;
}
.header-info a:hover,
.twitter:hover {
  background-color: rgb(173, 202, 79);
}
.header-info .header-content {
  width: 75%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
}
header nav {
  position: fixed;
  top: 0;
  padding: 10px;
  width: 100%;
  z-index: 50;
  background: #333;
  transition: top 200ms linear;
  border-bottom: 3px #a7b150 outset;
}
header nav a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  transition: all 0.25s ease-in-out;
}
header nav .links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}
nav a:hover {
  color: #a7b150;
}
.contact {
  background: #a7b150;
  padding: 10px 20px;
  border-radius: 5px;
}
.contact:hover {
  background: rgb(173, 202, 79);
  color: white;
}
.fa-camera-retro {
  position: absolute;
  color: #a7b150;
  font-size: 10rem;
  right: 3%;
  top: 3%;
}

.tagline {
  font-size: 1.2rem;
  font-weight: 200;
  font-style: italic;
  color: rgba(255, 255, 255, 0.8);
}

section {
  height: max-content;
  width: 100%;
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
section h2 {
  position: absolute;
  left: 120px;
  font-size: 2.5rem;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: #a7b150;
}
section:nth-child(odd) {
  background: rgb(58, 58, 58);
}
#evidence,
#testimonials {
  position: relative;
}
#evidence .tagline {
  margin: 20px;
}
.photos {
  width: 60%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.ghost-photo {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 10px 0;
  width: 45%;
  height: 30%;
}
.ghost-photo p {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  align-items: center;
  transition: all 200ms ease-in-out;
  padding: 40px;
  opacity: 0;
  line-height: 25px;
  user-select: none;
}
.ghost-photo:hover p {
  opacity: 1;
}

#places,
#contact {
  position: relative;
}
#places h2,
#contact h2 {
  position: absolute;
  right: 120px;
  text-align: center;
}
#places .place-cards .card {
  width: 50%;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px auto;
}
#places .place-cards .card img {
  height: 100%;
  border-radius: 5px;
}
.description {
  width: 50%;
  margin: 0 auto;
}

#testimonials h2 {
  font-size: 2rem;
}
.testimonies {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#testimonials .testimonies .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  width: 40%;
  height: 225px;
  margin: 10px;
  border-radius: 5px;
}
#testimonials .testimonies .card div {
  width: 75%;
}
#testimonials .testimonies .card .handle {
  margin-top: 20px;
}
#testimonials a {
  color: #a7b150;
}
#testimonials .testimonies .card .profile {
  height: 75px;
  width: 75px;
  border-radius: 50px;
  background-size: cover;
  background-position: center center;
}

#contact .tagline {
  margin-bottom: 25px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  margin: 0 auto;
  z-index: 32421342342;
}
form div:not(.name) {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
form .name {
  display: flex;
  justify-content: center;
  width: 100%;
}
#first,
#last,
#email,
#message {
  border-radius: 5px;
  outline: none;
  border: none;
  transition: border-color 200ms ease-in-out;
  padding: 2px 10px;
}
#first:focus,
#last:focus,
#email:focus,
#message:focus {
  border-color: #a7b150;
  outline: none;
}
.email-div input {
  width: 100%;
}
.first-name input,
.last-name input {
  width: 100%;
}
.last-name {
  border-left: 30px solid rgb(58, 58, 58);
}
#message {
  height: 100px;
  width: 100%;
}
form button {
  margin-top: 30px;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  color: white;
  background: #a7b150;
  border: none;
  outline: none;
  filter: drop-shadow(3px 3px 3px black);
  transition: all 200ms ease-in-out;
}
form button:hover {
  filter: drop-shadow(2px 2px 2px black);
  transform: translateY(2px);
  cursor: pointer;
}
form button:active {
  filter: drop-shadow(1px 1px 1px black);
  transform: translateY(4px);
}
footer {
  width: 100%;
  height: 50px;
  border-top: solid 1px white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer a {
  color: #a7b150;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}
footer a:hover {
  color: rgb(173, 202, 79);
}
@media screen and (max-width: 1440px) {
  .profile-picture {
    height: 200px;
    width: 200px;
    transform: translateY(-150px);
  }
  .fa-camera-retro {
    font-size: 8rem;
  }
}

@media screen and (max-width: 1024px) {
  header nav .links {
    width: 90%;
  }
  header .header-info {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  header .header-info p {
    line-height: 1.5rem;
  }
  .header-info .header-content {
    width: 75%;
    height: 80%;
    bottom: 0;
  }
  .profile-picture {
    transform: translateY(-250px);
  }
  .fa-camera-retro {
    font-size: 6rem;
  }
  .photos {
    height: 70%;
  }
  .ghost-photo {
    height: 150px;
    width: 250px;
    margin: 5px 0;
  }
  #places .place-cards .card {
    width: 70%;
    transform: translateX(-50px);
  }
  #places h2 {
    height: 50%;
    writing-mode: vertical-lr;
    width: max-content;
    left: 85%;
  }
  #testimonials .testimonies .card {
    width: 70%;
    height: max-content;
  }
}

@media screen and (max-width: 768px) {
  .profile-picture {
    height: 150px;
    width: 150px;
    border-width: 5px;
    transform: translateY(-225px);
  }
  section h2,
  #places h2,
  #contact h2 {
    position: static;
    text-orientation: unset;
    writing-mode: unset;
    letter-spacing: 3px;
  }
  #places h2,
  #contact h2,
  #testimonials h2 {
    margin-bottom: 20px;
  }
  .photos {
    width: 80%;
    justify-content: space-evenly;
  }
  #places .place-cards {
    height: max-content;
  }
  #places .place-cards .card {
    transform: translate(0);
    margin: 0;
    width: 80%;
    margin: 25px auto;
    height: max-content;
  }
  #places .place-cards .card img {
    height: 100px;
    width: 150px;
    border-width: 2px;
    margin-right: 20px;
  }
  #places .place-cards .card .description {
    width: 80%;
  }
  .card2 {
    border-top: solid 2px #a7b150;
    padding-top: 25px;
  }
  .card2 .description {
    order: 2;
  }
  #places p {
    width: 80%;
  }
  #testimonials .testimonies .card {
    width: 80%;
  }
  #contact .tagline {
    width: 80%;
    line-height: 1.9rem;
  }
  #contact form {
    width: 80%;
  }
}

@media screen and (max-width: 426px) {
  #navbar .links {
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
  }
  #navbar .links a {
    width: 40%;
    margin: 10px;
  }
  #navbar .links a:not(:last-child) {
    margin-bottom: 10px;
  }
  header {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-info {
    position: static;
    transform: translateY(100px);
  }
  .header-info .header-content {
    width: 100%;
    height: 100%;
    padding: 10px;
    padding-top: 50px;
  }
  .headline {
    margin: 0 auto;
  }
  .profile-picture {
    transform: translateY(-250px);
  }
  .fa-camera-retro {
    display: none;
  }
  #places .place-cards .card {
    flex-direction: column;
  }
  #places .place-cards .card img {
    margin-bottom: 15px;
  }
  #testimonials .testimonies .card {
    flex-direction: column;
    width: 90%;
    padding: 15px;
  }
  #testimonials .testimonies .card .profile {
    margin-bottom: 15px;
  }
  #testimonials .testimonies .card div {
    width: 100%;
  }
  #testimonials .testimonies .card .handle {
    margin-top: 15px;
  }
  footer {
    flex-direction: column;
    height: 100px;
  }
  .header-info {
    width: 90%;
    transform: translateY(150px);
  }
  .header-info .header-content {
    padding: 50px 10px;
  }
  .header-info.header-contenth1,
  .header-info .header-content .tagline,
  .header-info .header-content p:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 375px) {
  .headline {
    font-size: 1.4rem;
  }
  .header-content .tagline {
    font-size: 1.1rem;
  }
  .header-info {
    height: 600px;
  }
}

@media screen and (max-width: 325px) {
  section h2 {
    font-size: 1.5rem;
  }
  #testimonials .testimonies .card {
    width: 95%;
  }
  footer {
    text-align: center;
  }
}
